DB_HOST=people-e-sheba-people-e-sheba.c.aivencloud.com
DB_NAME=people_e_sheba
DB_PASSWORD=AVNS_LXmaVTJsLwgbMwJ1gQF
DB_PORT=18004
DB_USER=avnadmin
FRONTEND_URL=https://people-esheba.vercel.app
JWT_EXPIRES_IN=7d
JWT_SECRET=peopleesheba
MAX_FILE_SIZE=5242880
UPLOAD_DIR=uploads